alabaster
Babel
Markdown
markdown-it-py
MarkupSafe
myst-parser
pandocfilters
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
linkify
linkify-it-py
sphinx==8.1.3
myst-parser==4.0.1
sphinx-autoapi==3.6.0
